/* Custom CSS for Schallberger pumpfass.ch */

.btn-download-text:hover .download-arrow,
.btn-download-icon:hover .download-arrow {
    transform: translateY(0px)
}

.icon-social-media:hover svg {
    transform: scale(1.15)
}

.btn-more-text:hover .btn-more-icon {
    margin-left: 0;
}

#modelljahr .text-size-tiny:before {
    content: "Modelljahr ";
}