/* Custom CSS for Schallberger pumpfass.ch */

.btn-download-text:hover .download-arrow,
.btn-download-icon:hover .download-arrow {
    transform: translateY(0px)
}

.icon-social-media:hover svg {
    transform: scale(1.15)
}

.btn-more-text:hover .btn-more-icon {
    margin-left: 0;
}

#modelljahr .text-size-tiny:before {
    content: "Modelljahr ";
}

.occasion-overview-price>p:before,
.fact-price-wrapper .text-size-xlarge:before {
    content: "CHF "
}


/* Privacy Bee */

.prx_wrapper {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 5rem;
}

.prx_text,
.prx_listWrapper,
.prx_techWrapper {
    max-width: 100%;
}